<div class="container text-center mt-4">
  <div class="row">
 <div class="col-md-12 text-left">
  <%= link_to 'back' , root_path %>
    </div>
  </div>
  <ul class="list-group">
    <% @annotated_images.each do |annotated_image| %>
    <li >
    <% if annotated_image.image.attached? %>
   <div class="row">
  <div class="col-md-2 text-left">
          <img class="image d-block w-50" id="previewImage" src="<%= url_for(annotated_image.image) %>"  alt="Image">
            </div>
     <div class="col-md-4 mt-1 text-left">
              <%= link_to annotated_image.image.filename , '#',  class: "image-link", data: { turbolinks: false, toggle: "modal", target: "#imageCarouselModal", image_id: annotated_image.id }   %>
            </div>
            <div class="col-md-6 text-right">
              <%= link_to 'Edit', edit_annotated_image_path(annotated_image), data: { turbolinks: false} %>
        <%= link_to 'Delete', annotated_image_path(annotated_image), method: :delete, data: { confirm: 'Are you sure?' },  data: { turbolinks: false} %>
            </div>
          </div>
        <%end%>
   <br><br>
      </li>
    <% end %>
  </ul>
</div>
<div class="modal fade" id="imageCarouselModal" tabindex="-1" role="dialog" aria-labelledby="imageCarouselModalLabel" aria-hidden="true">
     <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
       <div class="modal-body">
    <div id="imageCarousel" class="carousel slide" data-interval="false">
      <div class="carousel-inner">
     <% @annotated_images.each_with_index do |image, index| %>
              <div class="carousel-item <%= index == 0 ? 'active' : '' %>" data-image-id="<%= image.id %>">
    <img class="image d-block w-90" id="previewImage" src="<%= url_for(image.image) %>"  alt="Image">
                <div class="d-flex justify-content-center mt-2 annotate-div-class">
             <button type="button" class="btn btn-info annotate-image-button" style="margin: 10px;"  data-toggle="modal" data-target="#annotateModal" data-image-id="<%= image.id %>">
              Annotate
         </button>
    </div>
             </div>
               <% end %>
          </div>
          <a class="carousel-control-prev" href="#imageCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#imageCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
 </div>
   </div>
   </div>
  </div>
</div>
<div class="modal fade" id="annotateModal" tabindex="-1" role="dialog" aria-labelledby="annotateModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
         <div class="modal-content">
  <div class="modal-header">
          <h5 class="modal-title" id="annotateModalLabel">Annotate Image</h5>
  <button type="button" class="close" id= "close_modal" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class= "form-body">
        <div class="modal-body">
        </div>
      </div>
    </div>
  </div>
