<div class="container " style="margin-top: 50px;">
  <%= form_with(model: @annotated_image, url: annotated_images_path,  local: true, html: { multipart: true }) do |form| %>
    <div class="form-group">
      <%= form.label :image_name %>
      <%= form.text_field :name , class: "form-control" %>
    </div>
    <div class="form-group">
      <%= form.label :image_file %>
      <%= form.file_field :image, class: "form-control-file" , id: "image_upload" %>
    </div>
    <div class="form-group annotation-section" style="display: none;">
      <h4>Add Annotations for Image</h4>
      <div class="key-value-pairs">
        <div class="key-value-pair form-row">
          <div class="col">
          
            <%= form.text_field "custom_keys[]",  class: "form-control key", placeholder: 'Key',required: true %>
          </div>
          <div class="col">
            <%= form.text_field "custom_values[]",  class: "form-control value", placeholder: 'Value', required: true %>
          </div>
          <div class="col-auto">
            <button type="button"  add-key-value">Add</button>
          </div>
          <div class="col-auto">
            <button type="button"  remove-key-value">Remove</button>
          </div>
           
        </div>
      </div>
      <div id = "extra-add-button">
     <button type="button" class="btn btn-sm btn-info add-key-value">Add</button>
     <div class="form-group">
        <%= form.submit "Submit" %>
      </div>
    </div>
      <div class="form-group">
        <%= form.submit "Submit" %>
      </div>

    <% end %>
  </div>
